<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container.fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*<button type="button" class="navSidebar-toggle pull-left" id="menu-toggle" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@

                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div> -->
    
    <div id="wrapper">
        <!--Sidebar-->
        <div id="sidebar-wrapper">
            <div class="row">
                <div class="col-12" align="center">
                    <img id="logo-pic" src="http://vignette4.wikia.nocookie.net/harrypotter/images/a/ae/Hogwartscrest.png/revision/latest/scale-to-width-down/215?cb=20110806202805&format=webp" alt="School Logo" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="http://findicons.com/files/icons/1072/face_avatars/300/g04.png" alt="User Pic" class="img-circle img-responsive" />
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h5 id="sidebar-h5">Welcome, Admin</h5>
                </div>
            </div>

            <hr />
            <ul class="sidebar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span id="caretM" class="caret"></span>Menu</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index","Home")" ><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>About</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Contact</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a id="studentList" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users "></i> Student <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="sidebar-link"><a href="@Url.Action("Index","Students/create")"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Add Student</a></li>
                        <li><a href="@Url.Action("Index","Students")"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Manage Student</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Something else here</a></li>
                    </ul>
                </li>
            </ul>   <!--end sidebar-nav-->
        </div>   <!--end sidebar-wrapper-->
        <!--Page Content-->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <ul class="nav nav-pills">
                    <li role="presentation" type="button" class="navSidebar-toggle pull-left" id="menu-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>



                @RenderBody()

                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                        <footer id="footer">
                            <p>© 2016 - My ASP.NET Application</p>
                        </footer>
                    </div>
                </div>

            </div> <!--end container-fluid-->
        </div> <!--end page-content-wrapper-->

    </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            <!--Menu toggle script-->
            <script>
                $("#menu-toggle").click(function () {
                    //e.preventDefault();
                    $("#wrapper").toggleClass("menuDisplayed");
                });
            </script>
</body>
</html>
